@page "/"
@inject GamesClients Client

<PageTitle>Game Catalog</PageTitle>

<div class="mt-2">
    <a href="/editgame" role="button" class="btn btn-primary">Add New Game</a>
</div>

@if (games is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-hover table-bordered mt-3">
        <thead class="table-dark">
            <th>Id</th>
            <th>Name</th>
            <th>Genre</th>
            <th class="text-end">Price</th>
            <th>Release Date</th>
            <th>Actions</th>
        </thead>

        <tbody>
            @foreach (GameSummary game in games)
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Genre</td>
                    <td class="text-end">@game.Price.ToString("C2")</td>
                    <td>@game.ReleaseDate</td>
                    <td>
                        <div>
                            <a class="btn btn-primary" role="button" href="@GameUrl(game.Id)">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }  
        </tbody>
    </table>
}
@code {
    //private GamesClients client = new();
    private GameSummary[]? games;

    //This method is called when the component has received parameres.
    protected override void OnInitialized()
    {
        games = Client.GetGames(); //Populate the games array.
    }

    //Generate the URL for editing a game. Use this method at the href attribute of the Edit button.
    private static string GameUrl(int id) => $"/editgame/{id}";
}