@model eGift.Admin.MVC.Models.ListViewModels.CountryListViewModel

@{
    ViewData["Title"] = "Country List";
    var index = 0;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryModel.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryModel.CountryName)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.CountryList?.Count() > 0)
        {
            foreach (var item in Model.CountryList)
            {
                index++;
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id=item.ID},new {@class = "btn btn-success"}) |
                        @Html.ActionLink("Details", "Details", new {id=item.ID},new {@class = "btn btn-primary"}) |
                        @Html.ActionLink("Delete", "Delete", new {id=item.ID},new {@class = "btn btn-danger"})
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">
                    <span>No data found.</span>
                </td>
            </tr>
        }
    </tbody>
</table>
