    @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    ViewData["ApplicationName"] = "eGift.Store";
    var userName = @Accessor.HttpContext.Session.GetString("UserName");
    var userId = @Accessor.HttpContext.Session.GetInt32("UserId");
    var currentDate = @Accessor.HttpContext.Session.GetString("LoginDate");
    var lastDate = @Accessor.HttpContext.Session.GetString("LastLoginDate");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["ApplicationName"]</title>
    @*style sheets files*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*java scripts files*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@ViewData["ApplicationName"]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @if (!string.IsNullOrWhiteSpace(userName))
                    {
                        <ul id="account-logout" class="navbar-nav flex-grow-1 col-md-3 flex-sm-row-reverse">
                            <li class="nav-item">
                                <a class="nav-link text-dark font-weight-bold" asp-area="" asp-page="/Customer/Login" asp-page-handler="Logout">Logout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Details" asp-route-id="@userId">My Profile</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul id="account-login" class="navbar-nav flex-grow-1 col-md-3 flex-sm-row-reverse">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Create">Register</a>
                            </li>
                        </ul>
                    }
                    <ul class="navbar-nav flex-grow-1">
                        @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>*@
                        @*<li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>*@
                        @if (!string.IsNullOrWhiteSpace(userName))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Orders/Index">My Orders</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - @ViewData["ApplicationName"] - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
